{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content %}
<section>
    <h1>Who is Dean ?</h1>
</section>
 <section>
        <p>
            As an experienced AI Engineer, Software Engineer, and Agile Coach, I bring a unique blend of technical
            expertise, leadership, and innovation to every project I undertake. My career spans multiple domains,
            including AI-driven applications, software development, and microservices architecture, with a strong
            emphasis on deploying scalable solutions on cloud platforms like AWS, GCP, and IBM Cloud. I thrive in
            environments where I can leverage my analytical skills to solve complex problems while fostering
            collaboration within agile teams.
        </p>
    </section>
    <section>
        <p>
            With a background in AI engineering, I have developed and deployed intelligent applications utilizing
            cutting-edge technologies such as natural language processing (NLP), machine learning, and sentiment
            analysis. My work with IBM Watson Services, including Watson Assistant and NLU, has enabled me to design
            AI-powered solutions that enhance business efficiency and user experience. Additionally, my expertise in
            Python and Fast-Api allows me to create robust APIs and integrate AI functionalities seamlessly into
            software ecosystems.
        </p>
    </section>
    <section>
        <p>
            Beyond my technical acumen, I am deeply passionate about software engineering best practices. I prioritize
            clean code, maintainability, and efficiency, ensuring that every project is built with scalability in mind.
            My experience with DevOps methodologies, containerization (Docker), and CI/CD pipelines further supports my
            ability to develop and deploy resilient software solutions.
        </p>
    </section>
    <section>
        <p>
            Alongside my engineering background, I excel as an Agile Coach, guiding teams through iterative development
            processes and promoting a culture of continuous improvement. I have successfully led teams in adopting agile
            methodologies, optimizing workflows, and driving project success through strategic planning and hands-on
            mentorship.
        </p>
    </section>
    <section>
        <p>
            I am always eager to take on new challenges that push my boundaries and expand my expertise. Whether it’s
            mastering new technologies, leading teams to success, or developing innovative AI solutions, I thrive in
            environments that encourage continuous growth and learning
        </p>
    </section>


{% endblock %}