{% extends "base.html" %}

{% block title %}Certificates & Qualifications{% endblock %}

{% block content %}
<section>
    <h1>Certificates & Qualifications</h1>

    <p>
        Technology is an ever-evolving field, and staying ahead requires a commitment to continuous learning and self-improvement.
        Throughout my career, I have pursued numerous certifications and training programs to deepen my expertise in AI, software development,
        Agile methodologies, and leadership. These courses have not only expanded my technical knowledge but have also strengthened my ability to
        adapt to new challenges, drive innovation, and lead teams effectively.
    </p>

    <p>
        I truly enjoy the process of learning—whether it's mastering a new programming language, exploring cutting-edge AI frameworks,
        or refining project management strategies. Education is not just about gaining credentials; it’s about staying curious, pushing boundaries,
        and continuously growing as a professional. This mindset has been a driving force in my career, allowing me to stay at the forefront of industry advancements.
    </p>

    <p>Below is a list of certifications and courses I have successfully completed, reflecting my dedication to excellence and professional development.</p>
    </section>

    <section>
        <h2>Artificial Intelligence & Machine Learning</h2>
        <p>These certifications highlight my expertise in AI, NLP, machine learning, and LLMs.</p>
        <ul>
            <li><a href="https://coursera.org/share/20b0655ae5f74388ca2134578d180366" target="_blank">IBM AI Developer Professional</a></li>
            <li><a href="https://coursera.org/share/24046cdb5104a1964fe0f4d0caabe515" target="_blank">IBM Gen AI with LLMs Professional</a></li>
            <li><a href="https://coursera.org/share/3eeb9fb9660f140b31e91f1402a3730b" target="_blank">IBM Data Scientist Professional</a></li>
            <li><a href="app/static/files/certs/AI/AI%20for%20Organizational%20Leaders%20by%20Microsoft%20and%20LinkedIn.pdf" target="_blank">AI for Leaders</a></li>
            <li><a href="app/static/files/certs/AI/AI%20Challenges%20and%20Opportunities%20for%20Leadership.pdf" target="_blank">AI Challengers and Opportunities for Leaders</a></li>
            <li><a href="app/static/files/certs/AI/CertificateOfCompletion_Fundamentals%20to%20Become%20a%20Machine%20Learning%20Engineer.pdf" target="_blank">Becoming a ML Engineer</a></li>
            <li><a href="app/static/files/certs/AI/CertificateOfCompletion_Machine%20Learning%20with%20Python%20Foundations.pdf" target="_blank">Machine Learning with Python</a></li>
            <li><a href="app/static/files/certs/AI/CertificateOfCompletion_Artificial%20Intelligence%20Foundations%20Machine%20Learning.pdf" target="_blank">AI in Machine Learning</a></li>
            <li><a href="https://coursera.org/share/89aecb20a3cc06ef9cc2e4b80c1c9d3b" target="_blank">Data Ethics, AI and Responsible Innovation</a></li>
        </ul>
    </section>
    <section>
        <h2>Artificial Intelligence Ethics</h2>
        <p>One of the things I am strongly interested in and feel it should be more highlighted in AI environments!!</p>
        <ul>
            <li><a href="https://coursera.org/share/89aecb20a3cc06ef9cc2e4b80c1c9d3b" target="_blank">Data Ethics, AI and Responsible Innovation - University Edinburgh UK</a></li>
            <li><a href="https://coursera.org/share/f5ca07fad103942f4078db0262852062" target="_blank">AI Ethics in Business, IBM</a></li>
            <li><a href="/static/files/certs/AI/AI_Ethics-Turing.pdf" target="_blank">Operational Ethics in AI - Alan Turing Institute</a></li>

        </ul>
    </section>

    <section>
        <h2>Software Engineering & Development</h2>
        <p>Certifications covering backend development, DevOps, and software best practices.</p>
        <ul>
            <li><a href="https://coursera.org/share/1b4e7da361d1dae605841797cb7aee9c" target="_blank">IBM DevOps Engineering Professional</a></li>
            <li><a href="app/static/files/certs/swe/Career%20Essentials%20in%20GitHub%20Professional%20Certificate.pdf" target="_blank">GitHub Professional</a></li>
            <li><a href="app/static/files/certs/swe/AWS_Essentials.pdf" target="_blank">AWS Essentials</a></li>
            <li><a href="app/static/files/certs/swe/01%20Introduction%20to%20Information%20Technology%20and%20AWS%20Cloud.pdf" target="_blank">AWS Cloud</a></li>
            <li><a href="https://verify.openedg.org/?id=f6Z3.q4fe.bNn6" target="_blank">Certified PCEP Python Programmer</a></li>
        </ul>
    </section>

    <section>
        <h2>Agile & Project Management</h2>
        <p>These highlight my leadership in Agile methodologies, project execution, and efficiency improvement.</p>
        <ul>
            <li><a href="URL_TO_CERTIFICATE" target="_blank">IBM IT Project Manager</a></li>
            <li><a href="app/static/files/Cert%20Prep%20PMI%20Agile%20Certified%20Practitioner%20PMIACP.pdf" target="_blank">PMI Project Management</a></li>
            <li><a href="app/static/files/certs/pjm/2016_2016_Projektmanager_IHK.pdf" target="_blank">IHK Project Manager</a></li>
            <li><a href="app/static/files/certs/pjm/2017_QM-B_Tuev.pdf" target="_blank">ISO 9001: QM-A</a></li>
            <li><a href="app/static/files/certs/pjm/Atlassian%20Agile%20Project%20Management%20Professional%20Certificate.pdf" target="_blank">Altlassian Agile Professional</a></li>
            <li><a href="app/static/files/certs/pjm/Six%20Sigma%20Black%20Belt.pdf" target="_blank">Six Sigma Blackbelt</a></li>
            <li><a href="app/static/files/certs/pjm/Adaptive%20Project%20Leadership.pdf" target="_blank">Adaptive project Leadership</a></li>
            <li><a href="app/static/files/certs/pjm/Hybrid%20Project%20Management%20Do%20What%20Works.pdf" target="_blank">Hybrid Project Management</a></li>
            <li><a href="app/static/files/certs/pjm/Project%20Portfolio%20Management%20Foundations.pdf" target="_blank">Project Portfolio Management</a></li>
            <li><a href="app/static/files/certs/pjm/Scrum%20Master.pdf" target="_blank">Scrum Master</a></li>
            <li><a href="app/static/files/certs/pjm/Scrum%20Advanced.pdf" target="_blank">Scrum Advanced</a></li>
            <li><a href="app/static/files/certs/pjm/Negotiating%20with%20Agility.pdf" target="_blank">Negotiating with Agility</a></li>
            <li><a href="app/static/files/certs/pjm/Enterprise%20Agile%20Growing%20Scrum.pdf" target="_blank">Enterprise Agile Growing Scrum</a></li>
            <li><a href="app/static/files/certs/pjm/Enterprise%20Agile%20Changing%20Your%20Culture.pdf" target="_blank">Enterprise Agile - Changing your culture</a></li>
            <li><a href="app/static/files/certs/pjm/Agile%20Product%20Owner%20Role%20Foundations%20(1).pdf" target="_blank">Agile Product Owner: Role Foundations</a></li>
            <li><a href="app/static/files/certs/pjm/Agile%20Product%20Owner%20Role%20Techniques.pdf" target="_blank">Agile Product Owner: Role Techniques</a></li>
            <li><a href="app/static/files/certs/pjm/Blending%20Project%20Management%20Methods.pdf" target="_blank">Blending Project Management Methods</a></li>
            <li><a href="app/static/files/certs/pjm/Becoming%20an%20Agile%20Coach.pdf" target="_blank">Becoming an Agile Coach</a></li>
            <li><a href="https://coursera.org/share/a41bf11a33ac3e97560ea9aca0a3734d" target="_blank">Project Management: Foundation, Initiation and Planning, IBM</a></li>
            <li><a href="app/static/files/certs/pjm/Project_Lifecycle_RiskManagement.pdf" target="_blank">Project Management: Project Lifecycle and Risk Management, IBM</a></li>
        </ul>
    </section>


    <section>
        <h2>Other Certifications</h2>
        <ul>
            <li><a href="app/static/files/certs/other/2018_TEFL_English.pdf" target="_blank">TEFL English </a></li>
        </ul>

    </section>

    <section>
    <h2>Credly Badges</h2>
    <div class="badge-container">
        <a href="https://www.credly.com/badges/0d7a7e30-7a79-45bf-a527-69fbd353c306">
            <img src="https://images.credly.com/size/80x80/images/33ed2910-9750-4613-aa2a-590e845c6edb/image.png"
                 alt="Python Project for AI and Application Development" width="80">
        </a>
        <a href="https://www.credly.com/badges/4986a243-09dc-4120-a95e-27695155fabf">
            <img src="https://images.credly.com/size/80x80/images/3d10b5f5-387d-4cbf-98ec-a418231fb157/image.png"
                 alt="Container & Kubernetes Essentials V2" width="80">
        </a>
        <a href="https://www.credly.com/badges/ed6b6e87-6a96-4ba6-9b39-37f19812a51d">
            <img src="https://images.credly.com/size/80x80/images/eaaf4a45-b93e-41d1-91d3-d331c6210314/image.png"
                 alt="Application Development using Microservices and Serverless" width="80">
        </a>
        <a href="https://www.credly.com/badges/37d5ec0b-8723-4770-87d0-c8a109c08716">
            <img src="https://images.credly.com/size/80x80/images/f2573aac-d21c-483d-acda-afaa366b4f51/image.png"
                 alt="Databases and SQL for Data" width="80">
        </a>
        <a href="https://www.credly.com/earner/earned/badge/964e2868-cd88-4477-b76e-9f9328837d67">
            <img src="https://images.credly.com/size/80x80/images/afaacd18-d4a9-48af-b54c-846615756ec7/image.png"
                 alt="Generative AI Essentials for Software Developers" width="80">
        </a>
        <a href="https://www.credly.com/badges/e9bd5a54-aab2-449e-b74b-0cb52b1378a4">
            <img src="https://images.credly.com/size/80x80/images/e462102c-b2ee-4208-aca0-b58f53331266/image.png"
                 alt="Building Generative AI-Powered Applications with Python" width="80">
        </a>
        <a href="https://www.credly.com/badges/246b8986-6d60-43e2-a996-06e3713e75a3">
            <img src="https://images.credly.com/size/80x80/images/40bee502-a5b3-4365-90e7-57eed5067594/image.png"
                 alt="Python for Data Science and AI" width="80">
        </a>
        <a href="https://www.credly.com/badges/c8d1e957-3030-4887-b7e8-b57791a9015e">
            <img src="https://images.credly.com/size/80x80/images/950038fc-2519-4f79-8827-f71caf0f5095/image.png"
                 alt="Python for Data Science and AI" width="80">
        </a>
        <a href="https://www.credly.com/badges/6dcd886d-f394-43e0-94b3-558e17e4b28d">
            <img src="https://images.credly.com/size/80x80/images/a9f5d0ac-5ee8-47a6-a9df-09468f26e401/image.png"
                 alt="Generative AI and LLMs: Architecture and Data Preparation" width="80">
        </a>
        <a href="https://www.credly.com/badges/f8476783-20c1-488a-b4fc-6f6b60d44466">
            <img src="https://images.credly.com/size/80x80/images/954a697e-66c0-45c3-8681-ced968dfa73e/blob"
                 alt="Generative AI Foundational Models for NLP & Language Understanding" width="80">
        </a>
        <a href="https://www.credly.com/badges/b963ddb5-e3b1-4417-99d1-af7d4e3b369e">
            <img src="https://images.credly.com/size/80x80/images/bc7582ae-95c6-4e92-a425-d355c65b7d10/image.png"
                 alt="Generative AI Language Modeling with Transformers" width="80">
        </a>
        <a href="https://www.credly.com/earner/earned/badge/1c24ecb7-cacd-4dda-9f45-8e2d3767bb3c">
            <img src="https://images.credly.com/size/80x80/images/6387f397-234b-480c-a0a0-4f9d6f8654a8/blob"
                 alt="Generative AI Engineering with Transformers & LLMs" width="80">
        </a>
        <a href="https://www.credly.com/badges/5e26e094-0db1-43c2-aa61-697fa0371897">
            <img src="https://images.credly.com/size/80x80/images/e61e6ff9-3502-4d64-b726-64f932ffbf02/Coursera_20Generative_20AI_20Advanced_20Fine_20Tuning_20for_20LLMs.png"
                 alt="Generative AI Advanced Fine-Tuning for LLMs" width="80">
        </a>
        <a href="https://www.credly.com/badges/4d8bc2fc-bc02-4dc2-b85f-27b2c5f8d802">
            <img src="https://images.credly.com/size/80x80/images/bc1ee755-d8b5-4068-91fa-60a6e05f12dc/Coursera_20AI_20Agents_20Using_20RAG_20and_20LangChain.png"
                 alt="AI Agents Using RAG and LangChain" width="80">
        </a>
        <a href="https://www.credly.com/badges/3de70507-dab7-4626-a4d2-2af116b66d26">
            <img src="https://images.credly.com/size/80x80/images/cdb44549-e7b6-47e7-a21f-160cecf8f38f/Coursera_20Generative_20AI_20Applications_20Specialist.png"
                 alt="Generative AI Applications Specialist" width="80">
        </a>
        <a href="https://www.credly.com/earner/earned/badge/e8b057d3-3e2f-430c-8641-8da8e6a2ae7d">
            <img src="https://images.credly.com/size/80x80/images/b790eb12-ecb3-4b94-89be-61aa40c92e7c/image.png"
                 alt="PCEP Python Programmer" width="80">
        </a>
    </div>
</section>
{% endblock %}